<!doctype html> 
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="{% static 'skote/assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet"
        type="text/css" />
    <link href="{% static 'skote/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'skote/assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
    {% block head_static %}{% endblock %}
</head>
<body data-sidebar="dark" data-layout-mode="dark">
<!-- <body data-sidebar="light" data-layout-mode="light"> -->
        <div id="layout-wrapper">
            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <div class="navbar-brand-box">
                            <a href="#" class="logo logo-dark" style="pointer-events: none;">
                                <span class="logo-sm">
                                    <img src="{% static 'skote/assets/images/logo.svg' %}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'skote/assets/images/logo-dark.png' %}" alt="" height="17">
                                </span>
                            </a>

                            <a href="#" class="logo logo-light" style="pointer-events: none;">
                                <span class="logo-sm">
                                    <img src="{% static 'skote/assets/images/logo-light.svg' %}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'skote/assets/images/logo-light.png' %}" alt="" height="19">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect"
                            id="vertical-menu-btn">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>
                        {% if search %}
                        <form class="app-search d-none d-lg-block">
                            <div class="position-relative">
                                <input type="text" name="q" class="form-control" placeholder="Qidirish ...">
                                <span class="bx bx-search-alt"></span>
                            </div>
                        </form>
                        {% endif %}
                    </div>

                    <div class="d-flex">
                        {% if search %}
                        <div class="dropdown d-inline-block d-lg-none ms-2">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-magnify"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-search-dropdown">
                                <form class="p-3">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" name="q" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="dark-mode">
                                <i class='bx bxs-moon' id="icon_dark_mode"></i>
                            </button>
                        </div>
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user"
                                    src="{% static 'skote/assets/images/users/avatar_default.png' %}"
                                    alt="Header Avatar">
                                <span class="d-none d-xl-inline-block ms-1" key="t-henry"> {{user.last_name}} {{user.first_name}} </span>
                                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i
                                        class="bx bx-user font-size-16 align-middle me-1"></i> <span
                                        key="t-profile">Profile</span></a>
                                <a class="dropdown-item d-block" href="#"><i
                                        class="bx bx-wrench font-size-16 align-middle me-1"></i> <span
                                        key="t-settings">Settings</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i
                                        class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span
                                        key="t-logout">Logout</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="vertical-menu">
                <div data-simplebar class="h-100">
                    <div id="sidebar-menu">
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li>
                                <a href="#" >
                                    <i class="bx bx-home-circle"></i>
                                    <span key="t-dashboards"> Bosh sahifa </span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'd_faculty_all' %}">
                                    <i class="bx bx-store"></i>
                                    <span key="t-dashboards">Fakultetlar</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'd_all_cafedra' %}">
                                    <i class="bx bx-store"></i>
                                    <span key="t-dashboards">Kafedralar</span>
                                </a>
                            </li> 
                            <li>
                                <a href="{% url 'd_all_direction' %}">
                                    <i class="bx bx-receipt"></i>
                                    <span key="t-dashboards">Yo'nalishlar</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'd_groups_all' %}">
                                    <i class="bx bx-group"></i>
                                    <span key="t-dashboards">Guruhlar</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        {% if messages %}
                        {% for msg in messages %}
                        <div class="alert alert-{{ msg.tags }} alert-dismissible fade show" role="alert">
                            {{ msg }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% block page_title %}{% endblock %}
                        {% block content %}{% endblock %}
                    </div>
                </div>                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6"> dastur versiyasi: 1.0.0 , Dasturchi: <a href="#">Oromov Akobir</a></div>
                            <div class="col-sm-6"><div class="text-sm-end d-none d-sm-block"> Dastur hozirda test rejimida ishlamoqda </div></div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <div class="rightbar-overlay"></div>
        <script src="{% static 'skote/assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'skote/assets/js/all.js' %}"></script>
        <script src="{% static 'skote/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'skote/assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'skote/assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'skote/assets/libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'skote/assets/libs/apexcharts/apexcharts.min.js' %}"></script>
        <script src="{% static 'skote/assets/js/pages/dashboard.init.js' %}"></script>
        <script src="{% static 'skote/assets/js/app.js' %}"></script>
        <script>
            $(document).ready(function () {
                setTimeout(function () {
                    $(".alert").alert('close');
                }, 5500);
            });
        </script>
        {% block body_static %}{% endblock %}
    </body>

</html>